<nav class="layout-navbar shadow-none py-0">
  <div class="container">
    <div class="navbar navbar-expand-lg landing-navbar px-3 px-md-8">
      <!-- Menu logo wrapper: Start -->
      <div class="navbar-brand app-brand demo d-flex py-0 py-lg-2 me-4 me-xl-8">
        <!-- Mobile menu toggle: Start-->
        <button class="navbar-toggler border-0 px-0 me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ti ti-menu-2 ti-lg align-middle text-heading fw-medium"></i>
        </button>
        <!-- Mobile menu toggle: End-->
        <a href="{% url 'front_pages:home' %}" class="app-brand-link">
          <span class="app-brand-logo demo">{% include 'partials/logo.html' %}</span>
          <span class="app-brand-text demo menu-text fw-bold ms-2 ps-1 text-primary">xLearning</span>
        </a>
      </div>
      <!-- Menu logo wrapper: End -->
      <!-- Menu wrapper: Start -->
      <div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
        <button class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ti ti-x ti-lg"></i>
        </button>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'front_pages:home' %}">Home</a>
          </li>
          <li class="nav-item dropdown {% if 'features' in request.resolver_match.url_name %}active{% endif %}">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle fw-medium" aria-expanded="false" data-bs-toggle="dropdown">
              <span>Features</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'front_pages:content-management' %}">
                  <i class="ti ti-book ti-sm me-2"></i>
                  <span>Content Management</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'front_pages:live-sessions' %}">
                  <i class="ti ti-video ti-sm me-2"></i>
                  <span>Live Sessions</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'front_pages:assessment-tools' %}">
                  <i class="ti ti-clipboard-check ti-sm me-2"></i>
                  <span>Assessment Tools</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'front_pages:student-management' %}">
                  <i class="ti ti-users ti-sm me-2"></i>
                  <span>Student Management</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'front_pages:booking-payment' %}">
                  <i class="ti ti-calendar ti-sm me-2"></i>
                  <span>Booking & Payment</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}" href="{% url 'front_pages:pricing' %}">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'front_pages:about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'front_pages:blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'front_pages:contact' %}">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="landing-menu-overlay d-lg-none"></div>
      <!-- Menu wrapper: End -->
      <!-- Toolbar: Start -->
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        {% if has_customizer %}
        <!-- Style Switcher -->
        <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-1">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <i class='ti ti-sun ti-lg text-primary'></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
            <li>
              <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                <span class="align-middle"><i class='ti ti-sun me-2'></i>Light</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                <span class="align-middle"><i class="ti ti-moon-stars me-2"></i>Dark</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                <span class="align-middle"><i class="ti ti-device-desktop-analytics me-2"></i>System</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- / Style Switcher-->
        {% endif %}
        <!-- navbar button: Start -->
        {% if request.user.is_authenticated %}
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              {% if request.user.profile.profile_image %}
              <img src="{{ request.user.profile.profile_image.url }}" alt="user-avatar" class="w-px-40 h-auto rounded-circle">
              {% else %}
              <span class="avatar-initial rounded-circle bg-primary">{{ request.user.username|first|upper }}</span>
              {% endif %}
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'account:profile' %}">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      {% if request.user.profile.profile_image %}
                      <img src="{{ request.user.profile.profile_image.url }}" alt="user-avatar" class="w-px-40 h-auto rounded-circle">
                      {% else %}
                      <span class="avatar-initial rounded-circle bg-primary">{{ request.user.username|first|upper }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-medium d-block">{{ request.user.username }}</span>
                    <small class="text-muted">{{ request.user.get_user_type_display }}</small>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'account:profile' %}">
                <i class="ti ti-user-circle me-2 ti-sm"></i>
                <span class="align-middle">My Profile</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'dashboards:overview' %}">
                <i class="ti ti-layout-dashboard me-2 ti-sm"></i>
                <span class="align-middle">Dashboard</span>
              </a>
            </li>
            {% if request.user.is_superuser or request.user.is_admin %}
            <li>
              <a class="dropdown-item" href="{% url 'front_pages:contact_messages' %}">
                <i class="ti ti-message-circle me-2 ti-sm"></i>
                <span class="align-middle">Contact Messages</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'front_pages:subscribers' %}">
                <i class="ti ti-users me-2 ti-sm"></i>
                <span class="align-middle">Subscribers</span>
              </a>
            </li>
            {% endif %}
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <form action="{% url 'account:logout' %}" method="post" class="px-3 py-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger d-flex w-100">
                  <span class="align-middle">Log Out</span>
                  <i class="ti ti-logout ms-2 ti-sm"></i>
                </button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url 'account:login' %}" class="btn btn-primary me-2"><span class="tf-icons ti ti-login me-md-1"></span><span class="d-none d-md-block">Login</span></a>
        </li>
        <li>
          <a href="{% url 'account:register' %}" class="btn btn-outline-primary"><span class="tf-icons ti ti-user-plus me-md-1"></span><span class="d-none d-md-block">Register</span></a>
        </li>
        {% endif %}
        <!-- navbar button: End -->
      </ul>
      <!-- Toolbar: End -->
    </div>
  </div>
</nav>